<!doctype html>
<html>
  <head>
    <title><%- title %></title>
  </head>

  <body>
    <h1><%- title %></h1>

    <ul>
      <li><a href="/">Main</a></li>
      <li><a href="set_cookie.html">Set the cookie</a></li>
    </ul>

    <%- body %>

  </body>
</html>

