@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);  

#identity-session-box {
    position: relative;
    z-index: 2;
}

#identity-session-signin, #identity-session-userinfo {
    margin: 1px -1px 1px 1px;
    padding: 0 5px;
    border: 1px solid #555;
    border-radius: 2px 0 0 2px;
    border-color: #ccc;
    border-width: 1px 0 1px 1px;
    background: -moz-linear-gradient(center top, #ffffff 0%, #cccccc 100%);
    color: #555;
    font-size: .9em;
}

#identity-session-box:hover #identity-session-signin, 
#identity-session-box:hover #identity-session-userinfo {
    /* If the percentages change, the arrow has to change in code as well */
    background: -moz-linear-gradient(center top, #ffffff 40%, #cccccc 100%);
}

#identity-session-box svg {
    margin-right: -11px;
}

#identity-session-arrow line {
    stroke-width: 1px;
    stroke: #cccccc;
}

#identity-box {
    z-index: 1;
    position: relative;
}

